*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-image: url(./img/13694.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    opacity: 0.65;
}

header{
    height: 150px;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
}

.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 200px;
    height: 100px;
}

main{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

section{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    margin: 10px;
    padding: 10px;
}

.izq{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    border: outset 3px rgb(117, 124, 115);
    border-radius: 10px;
}

.der{
    display: flex;
    flex-direction: column;
    border: outset 3px rgb(117, 124, 115);
    width: 70%;
    height: 100%;
    border-radius: 10px;
}

.textarea{
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    line-height: 70%;
    border-radius: 7px;
}

.textarea:hover{
    border: 3px solid;
    border-color: rgb(68, 119, 230);
}

.info{
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    line-height: 70%;
    align-self: center;
}

.botones{
    padding: 10px;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mensaje{
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
}

.mensaje:hover{
    border: 3px solid;
    border-color: rgb(68, 119, 230);
}

.btn-desencriptar{
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    line-height: 50%;
}

.btn-desencriptar:hover{
    background-color: rgb(53, 126, 235);
    opacity: 0.70;
}

.btn-encriptar{
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    line-height: 50%;
}

.btn-encriptar:hover{
    background-color: rgb(53, 126, 235);
    opacity: 0.70;
}

.btn-copiar{
    padding: 10px;
    align-self: center;
    width: 90%;
}

.copiar:hover{
    background-color: rgb(53, 126, 235);
    opacity: 0.70;
}


.copiar{
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    line-height: 50%;
    width: 100%;
    margin-top: 40px;
}

.pie{
    display: flex;
    color: rgb(247, 240, 240);
    justify-content: center;
    padding: 10px;
    margin-bottom: 20px;
}

@media (max-width: 900px) {
    main{
        flex-direction: column;
    }
}

@media (max-width: 615px) {
    main{
        flex-direction: column;
        margin: 20px;
        align-items: center;
    }
    section{
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .info{
        font-size: 25px;
        margin: 10px;
    }
    .textarea{
        font-size: 15px;
        margin: 10px;
    }
    .botones{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 30%;
        width: 100%;
    }
    .btn-encriptar{
        margin-bottom: 10px;
    }
    .btn-copiar{
        width: 100%;
        height: 30%;
    }
    header{
        height: 100px;
        padding: 0;
    }
    .logo{
        width: 120px;
        height: 60px;
        margin: 0;
        padding: 0;
    }
    .pie{
        text-align: center;
    }
}